<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half" align="left">
        <ul class="contact-list">
          <li class="p-name">
	    Email: sherryy 'at' google 'dot' com
          </li>	    
        </ul>
      </div>

      <div class="social-links footer-col" align="left">
	[<a href="https://scholar.google.com/citations?user=7c1B_fIAAAAJ&hl=en"><span class="username">Google scholar</span></a>]
      </div>            
      <div class="social-links footer-col" align="center">
	[<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><span class="username">LinkedIn</span></a>]
      </div>      

      <div class="social-links footer-col" align="right">
	[<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><span class="username">Github</span></a>]
      </div>

      <div class="social-links footer-col" align="right">
	[<a href="https://twitter.com/mengjiao_yang"><span class="username">Twitter</span></a>]
      </div>

    </div>

  </div>

</footer>
